.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    color: white;
    justify-content: center;
    gap: 5px;
}
.one{
    background-color: skyblue;
    text-align: center;
    padding-top: 40px;
}
.two{
    background-color: orangered;
    text-align: center;
    padding-top: 40px;
}
.three{
    background-color: rgb(113, 113, 245);
    text-align: center;
    padding-top: 40px;
}
.four{
    background-color: rgb(245, 245, 16);
    text-align: center;
    padding-top: 40px;
}
.five{
    background-color: rgb(204, 84, 204);
    text-align: center;
    padding-top: 40px;
}
.six{
    background-color: rgb(98, 240, 98);
    text-align: center;
    padding-top: 40px;
}
.seven{
    background-color: rgb(248, 195, 148);
    text-align: center;
    padding-top: 40px;
}
.eight{
    background-color:rgb(104, 203, 241);
    text-align: center;
    padding-top: 40px;
}
.nine{
    background-color: rgb(117, 4, 4);
    text-align: center;
    padding-top: 40px;
}